.footer{
    display: flex;
    background-color:#8F1C1C;
    height: 150px;
    align-items: center;
    flex-direction: column;
   

    
}
.icon{
    padding-top: 20px;
    color: white;
font-size: 30px;
margin: 5px;
cursor: pointer;
}

.footer a{
    
    text-decoration: none;
    margin:10px;
    font-size: 15px;
    color: white;
}


