nav{
    display: flex;
    background-color:#8F1C1C;
    height: 120px;
    align-items: center;
    
}
.links{
    margin-left:auto ;
    margin-right: 50px;
    
}



nav a{
    
    text-decoration: none;
    margin:10px;
    font-size: 20px;
    color: white;
}

nav a.active{
    font-size: 22px;
}

